$cursor-hand: url('/cursor-hand-icon.svg') 7 0;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  color: white;
  max-width: 100vw;
  overflow-x: hidden;
  /* cursor: url('/horse-icon.svg'), auto; */
  cursor: url('/pointer-arrow-icon.svg'), auto;
  /* user-select: none; */
}

a:hover {
  cursor: $cursor-hand, pointer;
}

.pointerCursor {
  cursor: $cursor-hand, pointer;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-width: auto;
    scrollbar-color: yellow transparent;
  }
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 25px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  /* background-color: #e00404; */
  background-color: yellow;
  border-radius: 20px;
}
